{% extends 'base.html' %}
{% block title %}About{% endblock title %}

{% block content %}
<article class="media content-section">
<main role="main" class="container">


  {% if current_user.is_authenticated %}
  <h2 class="article-title">Welcome to Cndnse, {{ current_user.first_name }}!</h2>
  {% else %}
    <h2 class="article-title">Welcome to Cndnse! </h2>

    <br>
  {% endif %}

  <section class="container">

    <h5 class="article-title">"Brief is the new Black"</h5>

  <p class="article-content">Cndnse URL Shortener project aims to create a robust and user-friendly service for shortening URLs. Leveraging cutting-edge technologies, the application will provide a seamless experience for users to convert long, complex URLs into concise and shareable links. Along with efficient redirection, the project will offer valuable features such as link analytics and QR code generation.</p>

  <p class="article-content">In today's world, it's important to keep things brief</p>

  <p class="article-content">So, what are you waiting for? <a href="{{ url_for('register') }}">Sign up</a> today!</p>
</section>

</main>
</article>
{% endblock content %}
