{% extends 'base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
{% if current_user.is_authenticated %}
  {% if urls %}
    <section class="dashboard">
      {% for url in urls %}
        <div class="card">
          <div class="card-body">
            <img class="card-qrcode" src="{{ url_for('generate_qr_code_link', short_url=url.short_url) }}" alt="QR Code">
            <br>
            <a href="{{ url_for('generate_qr_code_link', short_url=url.short_url) }}" download="qrcode image">
              <button class="button">Download QR Code</button>
            </a>
            <hr>
            <small>
              Created: {{url.created_at.strftime('%B %d, %Y')}} || Clicks: {{url.clicks}}
            </small>
            <p>
              Original Link: <br>
              <a href="{{url.long_url}}" target="_blank">{{url.long_url}}</a>
            </p>
            <p>
              Shortened Link: <br>
              <a href="{{url_for('redirect_link', short_url=url.short_url)}}" target="_blank">{{host}}{{url.short_url}}</a>
            </p>
            <a href="{{ url_for('update', short_url=url.short_url) }}">
              <button class="button">Edit Link</button>
            </a>
            <a href="{{ url_for('delete', short_url=url.short_url) }}">
              <button class="button">Delete Link</button>
            </a>
          </div>
        </div>
      {% endfor %}
    </section>
  {% else %}
    <small>
      You do not have any links yet. <a href="{{url_for('index')}}">Create Some</a>
    </small>
  {% endif %}
{% else %}
  <small>
    <a href="{{url_for('login')}}">Log in</a> to see your links
  </small>
{% endif %}
{% endblock content %}