{% extends 'base.html' %}

{% block title %}Link History{% endblock title %}

{% block content %}
<section class="container">
  {% if links %}
    <div class="table-wrapper">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Short Url</th>
            <th scope="col">Original Url</th>
            <th scope="col">Analytics</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for link in links %}
            <tr>
              <td><a href="{{ url_for('redirect_link', short_url=link.short_url) }}" target="_blank">{{ host }}{{ link.short_url }}</a></td>
              <td><a href="{{ link.long_url }}" target="_blank">{{ link.long_url }}</a></td>
              <td><a href="{{ url_for('analytics', short_url=link.short_url) }}">Analytics</a></td>
              <td><a href="{{ url_for('update', short_url=link.short_url) }}">Edit</a></td>
              <td>
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ loop.index }}">Delete</button>
              </td>
            </tr>

            <!-- Delete Modal -->
            <div class="modal fade" id="deleteModal{{ loop.index }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ loop.index }}" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel{{ loop.index }}">Delete URL</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure you want to delete the URL?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a href="{{ url_for('delete', short_url=link.short_url) }}" class="btn btn-danger">Delete</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <small>You do not have any links yet. <a href="{{ url_for('index') }}">Create Some</a></small>
  {% endif %}
</section>
{% endblock content %}
